$maxWidth: 500px;
$center: center;
$blue-color1: rgba(52, 152, 219, 1);
$blue-color2: rgba(52, 152, 219, 0.5);
$white-color1: rgba(255, 255, 255, 1);
$black-color1: rgba(45, 52, 54, 1);

$inputTableletFontSize: 1rem;

@mixin setDiplayFlex($direction, $jp, $ap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $jp;
  align-items: $ap;
}

.container {
  max-width: $maxWidth;
  margin: 0 auto;
  margin-top: 50px;
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 2px 2px 2px $blue-color2;
  border-radius: 10px;
  border: 1px solid $black-color1;

  .header {
    @include setDiplayFlex(column, $center, $center);
    &--title {
      font-size: 2rem;
      padding: 10px 0;
      color: $black-color1;
    }
    &--subtitle {
      color: $blue-color1;
      padding: 5px 0;
      span {
        display: inline-block;
        line-height: 1.5rem;
      }
    }
  }

  .main {
    margin-top: 20px;
    .input {
      width: 100%;
      box-sizing: border-box;
      padding: 5px 10px;
      font-size: $inputTableletFontSize;
      letter-spacing: 0.1rem;
      border-radius: 5px;
      border: 1px solid #000;
      color: $blue-color1;
      &::placeholder {
        color: rgba(00, 00, 00, 0.5);
      }
    }

    .menu {
      margin-top: 10px;
      display: flex;
      span {
        box-shadow: 0px 0px 2px $black-color1;
        border-radius: 5px;
        cursor: pointer;
        display: inline-block;
        letter-spacing: 0.09rem;
        padding: 10px 5px;
        &:hover {
          background-color: $blue-color2;
        }
      }
      span + span {
        margin-left: 5px;
      }

      .checked {
        background-color: $blue-color2;
      }
    }

    .list {
      margin-top: 20px;
      .list--item {
        @include setDiplayFlex(row, space-between, $center);
        .item-content {
          @include setDiplayFlex(row, start, $center);
          cursor: pointer;
          width: 100%;
          padding: 10px 0 10px 10px;
          color: $blue-color1;
          transition: 0.5s;

          .ant-checkbox {
            margin-bottom: 5px;
          }
          .item-content_value {
            word-break: break-word;
            display: inline-block;
          }
          .item-content_value + .item-content_value {
            padding-left: 0.8rem;
          }

          &:hover {
            background: $blue-color2;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            span {
              &:last-child {
                color: $white-color1;
                text-decoration: line-through;
                text-decoration-color: #000;
              }
            }
          }
        }

        .item-icon {
          cursor: pointer;
          filter: invert(62%) sepia(7%) saturate(7093%) hue-rotate(177deg) brightness(86%)
            contrast(99%);
        }
      }
    }
  }
}
